/*------------start phone first---------*/
/****************************************/

         /*--------regle commune--------*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	margin-left: 10px;
}

		/*--------header style--------*/

header
{
	width: 100%;
	height: 50px;
}
.menu
{
	display: none;
}
.logo img
{
	width: 30px;
	height: auto;
	margin-top: 10px;
	
}
.logo i , .logo img
{
	display: inline-block;
	
}
.logo i
{
	vertical-align:8px;
	color: rgb(90,90,90);
	margin-left: 13px;

}



		/*--------Quation  style section--------*/

.quation
{   
	margin-top: 20px; 
	width: 100%;
	height: 100px;
}	

.quation h1 
{
	font-family:  'Roboto Mono', monospace;
	font-size: 18px;
}
.quation h1
{
	color: rgb(90,90,90);
}
.quation h1 .qcouleur
{
	color: rgb(255,90,95);
	
	
}


		/*--------search mobile  style section--------*/

.recherchemobil1
{
	width: 100%;
	height: 70px;
}
.recherchemobil1 .input-search input
{
	width: 93%;
	padding:7px 6px;

	margin:0 1.5% ;
	border:1px solid rgb(227,222,222);
	box-shadow: 1px  rgb(227,222,222);
	border-radius: 2px;
	background: url(../images/searchicone.svg) left no-repeat;
	margin-bottom: 20px;

}
.recherchemobil1 .input-search input[placeholder] 
{
	font-size: 12px;
}
	/*--------menu mobile style section--------*/


.recherchemobil1
{
	margin-bottom: 20px;
}
.recherchemobil1 .menusearch a  
{
  text-decoration:none;
  color: rgb(90,90,90);
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 5px;
}
.recherchemobil1 .menusearch hr
{
	width: 250px;
	margin-top:6px;
	height: 0.5px;
	font-size: 0.5px;
	color: #e3dede;
   
}

.rechercher2
{
	display: none;
}


/*-------- style slider section--------*/
.slider1
{
	width: 100%;
	
	margin-bottom: 20px;
}
 
.fmobile
{
	width:95%;
	margin:auto;
	display:flex;
	justify-content: space-between;
}
.fmobile figure
{
	width: 48%;
	height: 100%;
}

 .fmobile  figure img
{
  width: 100%;
  height: 80%;
}
.slider1 .nmobile
{
	display:none;

}
.slider1 h2
{
  color: rgb(90,90,90);
  font-size: 13px;
  margin:15px 3%;
  margin-bottom: 15px;

}
.slider1 .fmobile .texte
{
	font-size:12px;
	color:#262626;

}
.slider1 .fmobile .texte i
{
	color: rgb(0,166,153);
}
.slider1 .fmobile .nombre
{
	font-weight: bold;
	font-size: 12px;
}
   /*-------style logement slider-------*/ 

 #logement figure 
{
  width:98%;
}
#logement figure  img
{
  width:100%;
}
.slider1  .fmobile  .nmobile
{
	display:none;
}

/*-------style  "Destination à la une" slider-------*/
.slider1 .destination
{
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin:auto;
}

.slider1 .destination .f2mobile
{
  width: 31%;
  height:100%;
}
.slider1 .destination .f2mobile img
{
  width: 100%;
  height: 80%;
}
.slider1 .destination .f2mobile span
{
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	color: rgb(72,72,83);
}
.slider1 .destination .fnmobile
{
	display: none;
} 

/*-------style  "Ouvrer la porte" slider-------*/

.estimer
{
	width: 100%;
	margin-bottom: 20px;
}
.estimer .ouvrer-laporte
{
	width: 95%;
}
.estimer .ouvrer-laporte figure
{
	width: 100%;
}
.estimer .ouvrer-laporte figure img
{
	width: 100%

}
.estimer .ouvrer-laporte  div h3
{
	font-family: Arial;
	font-weight: bold;
	color: black;
	font-size: 16px;	
}
.estimer .ouvrer-laporte  div p
{
	font-size: 13px;
	font-family: Arial;
	word-spacing: 5px;
	margin-bottom: 15px;
}
.estimer .ouvrer-laporte  div button
{
	background-color: rgb(0,132,137);
	color: white;
	border:none;
	padding: 6px 8px;
	border-radius: 3px;
	font-weight: bold;
}


/*-------------Footer style-------------------*/
 .sectfoot1
 {
 	width:98%;
 	margin:50px auto;
 	
 }
 .sectfoot1 hr
{
	/*height: 0.3px;
	font-size: 0.3px;*/
	color: #e3dede;
}

.sectfoot1 .container
{    
	width: 95%;
	display:flex;
	align-items: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sectfoot1 .lien
{
	display:none;
}
.sectfoot1 .container  .select1
{
	width: 100%;
}
.sectfoot1 .container .select
{
  width:47%;
  margin:15px auto;
 
}
.sectfoot1 .container .select select
{
	width:100%;
	height: 45px;
	background-color:white;
	color:#000;  
    color:rgba(0,0,0,0);    
    text-shadow:0 0 0 #000;
    border:1px solid #767676;
    
}

   /*---------------style the second section of footer-------*/
.sectfoot2
{
	width: 100%;
	height: 100px;
	
}
.sectfoot2  hr
{
	width:91%;
	margin:8px 2%;
	color: #e3dede;
}
                /*-------------style the first article in sectfoot2-----*/

.sectfoot2 .footer-gauche img
{
	width: 20px;

}
 .sectfoot2 .footer-gauche span, .sectfoot2 .footer-gauche i
{
	color:#767676;
    font-size:15px;
}	

            /*---------------style the second article  in the sectfoot2-------*/


.sectfoot2 .footer-droite
{
	color: #767676;
	font-size: 13px;
}
.sectfoot2 .footer-droite p i
{
	margin-right: 10px;


}
.sectfoot2 .footer-droite p .material-icons
{
	font-size: 15px
}







/*------------start  Tablet style---------*/
/****************************************/

@media(min-width: 750px)
{
     /*-----------header style in the tablet-------*/
	header 
	{
		display: flex;
		justify-content: space-between;
	}
	header .afftab
	{
		width: 42%;

	}
	header .menu 
	{
		display: flex;
		
		

	}

	header .menu a
	{
		list-style-type: none;
		text-decoration: none;
		margin:20px 2.8%;
		color: rgb(90,90,90);
		font-size: 13px;

	}
    .quation
    {
    	margin-top: 50px;
    	height: 150px;
    }
   .quation h1
   {
   	font-size: 36px;
   	 margin-bottom: 20px;

   }

   /*------------style search menu---------*/
   .recherchemobil1
   	{
   		display:none;
   	}
   .rechercher2
   	{
   	 display :flex;
   	 width: 95%;
   	 height: 85px;
   	 justify-content: space-between;
   	 margin:auto;
   	 border: 1px solid #e3dede;
   	 box-shadow: 2px 1px #e3dede;
   	 border-radius: 2px;
   	 
   
  	 }
   .elementrecher
   {
   	
   	width:33%;
   	height: 100%;
   	padding: 8px 8px;
   	   	
   }

   .ligleft
   {
   		border-left: 1px solid #e3dede ;
   		height: 100%;
   }
   .elementrecher input
   {
   	  width: 80%;
   	  margin:15px auto ;
   	  border: none;

   }
   .elementrecher .localinput
   {
   	 width: 90%;
   	 display:flex;
   	 justify-content: space-around;

   }
   .elementrecher #depart ,.elementrecher #arrive
   {
   	  width:35%;
   	  /*margin:0 2%;
   	  margin-left: 8px;*/
   }
   .elementrecher .localinput i
   {
   	 align-self: center;
   	 margin-right:45px;
   	 font-size: 20px;
   	 color:rgb(110,109,106);
   }
  .elementrecher #depart[placeholder],.elementrecher #arrive[placeholder],.elementrecher #ou[placeholder]
  {
  	font-size: 20px;
  }
   .elementrecher label
   {
   	color:rgb(110,109,106);
   	font-size: 14px;
   }
   
   
   #voyageur .localinput input
   {
   		width: 40%;
   		margin:10px auto;
   		/*align-items: center;*/
   		margin-left: 5px;
   		
  }
   #voyageur .localinput button
   {
   	  font-size:15px;
   	  width:32%;
   	  position:relative;
   	  top:0px;
   	  /*margin:0px 0.5%;*/
   	  border-radius: 3px;
   	  border: none;
   	  background-color: rgb(255,90,95);
   }
   #voyageur .localinput button i
   {
   	margin:auto;
   	color: white;
   }


   /*----------style slider for tablet-----------*/
   	

   	.fmobile figure
   	{
	  width: 32%;
	  height: 100%;
	  
	}
	.slider1  .fmobile .tafigure
   	{
   		display:block;
   	}
   /*----------style slider logement for tablet-----------*/

   /*#logement 
   {
   	display: flex;
   	justify-content: space-around;
   }*/
   #logement figure
	{
  		width:49%;
  		height: 100%;

	}
	.slider1 #logement .laptopfigure
	{
		display:none;
	}

	.slider1 #logement .tafigure
	{
		display:block;
	}

	/*--style slider:" distination à la une for tablet--*/

	.slider1 .destination .f2mobile
	{
  		width: 24%;
  		height:100%;
	}
	.slider1 .destination #ftablette
	{
		display :block;
	}

	/*--style slider:" slider6 "ouvrer la porte" for tablet--*/

	.estimer .ouvrer-laporte
	{
		display :flex;
		justify-content: space-between;
		margin: auto;
	}
	.estimer .ouvrer-laporte figure
	{
		width: 50%;
		order:1;
	}
	.estimer .ouvrer-laporte div
	{
		width: 45%;
	    margin:50px 2%;



	}
	.estimer .ouvrer-laporte div  h3  
	{
		font-size: 25px;
		margin-bottom: 15px;
	}
	.estimer .ouvrer-laporte div p
	{
		font-size: 20px;
	}


	/*------style Footer  for tablet---------*/
	       /* --style sectfoot1---*/
	.sectfoot1 .lien

	{
		display:block;

	}
	.sectfoot1 .container .select1
	{
  		width:40%;

  		
	}
	.sectfoot1  .container .lien
	{
		width: 45%;
	    margin: 0 2%;
	}
	.sectfoot1  .container .lien h5
	{
		margin-bottom: 10px;
	}
	.sectfoot1  .container .lien li
	{
		list-style-type: none;
	}
	.sectfoot1  .container .lien a
	{
		text-decoration: none;
		color: rgb(90,90,90);
		font-size: 12px;
	}
	
	/* --style sectfoot1---*/
   .sectfoot21
   {
   	 display:flex;
   	justify-content: space-between;
   	width: 95%;
   	
   }
   .sectfoot21 .footer-droite, .sectfoot21 .footer-gauche
   {
   	  margin:0 2%;
   }

}










/*------------start Laptop style---------*/
/****************************************/