/*------------start phone first---------*/
/****************************************/

         /*--------regle commune--------*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	margin-left: 10px;
}

		/*--------header style--------*/

header
{
	width: 100%;
	height: 50px;
}
.menu
{
	display: none;
}
.logo img
{
	width: 30px;
	height: auto;
	margin-top: 10px;
	
}
.logo i , .logo img
{
	display: inline-block;
	
}
.logo i
{
	vertical-align:8px;
	color: rgb(90,90,90);
	margin-left: 13px;

}



		/*--------Quation  style section--------*/

.quation
{   
	margin-top: 20px; 
	width: 100%;
	height: 100px;
}	
.quation h1
{
	color: rgb(255,90,95);
	
	
}
.quation h1 , .quation p
{
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
}
.quation p
{
	color: rgb(90,90,90);
}



		/*--------search mobile  style section--------*/

.recherchemobil1
{
	width: 100%;
	height: 70px;
}
.recherchemobil1 .input-search input
{
	width: 93%;
	padding:7px 6px;

	margin:0 1.5% ;
	border:1px solid rgb(227,222,222);
	box-shadow: 1px  rgb(227,222,222);
	border-radius: 2px;
	background: url(../images/searchicone.svg) left no-repeat;
	margin-bottom: 20px;

}
.recherchemobil1 .input-search input[placeholder] 
{
	font-size: 12px;
}
	/*--------menu mobile style section--------*/


.recherchemobil1
{
	margin-bottom: 20px;
}
.recherchemobil1 .menusearch a  
{
  text-decoration:none;
  color: rgb(90,90,90);
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 5px;
}
.recherchemobil1 .menusearch hr
{
	width: 250px;
	margin-top:6px;
	height: 0.5px;
	font-size: 0.5px;
	color: #e3dede;
   
}

.rechercher2
{
	display: none;
}


/*-------- style slider section--------*/
.slider1
{
	width: 100%;
	
	margin-bottom: 20px;
}
 
.fmobile
{
	width:100%;
	display:flex;
	justify-content: space-between;
}
.fmobile figure
{
	width: 40%;
	height: 100%;
}

 .fmobile  figure img
{
  width: 100%;
  height: 80%;
}
.slider1 .nmobile
{
	display:none;

}
.slider1 h2
{
  color: rgb(90,90,90);
  font-size: 13px;
  margin-bottom: 15px;

}
.slider1 .fmobile .texte
{
	font-size:12px;
	color:#262626;

}
.slider1 .fmobile .texte i
{
	color: rgb(0,166,153);
}
.slider1 .fmobile .nombre
{
	font-weight: bold;
	font-size: 12px;
}
   /*-------style logement slider-------*/ 

 #logement #mobile 
{
  width:90%;
}

/*-------style  "Destination à la une" slider-------*/
.slider1 .destination
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.slider1 .destination .f2mobile
{
  width: 30%;
  height:100%;
}

.slider1 .destination .fnmobile
{
	display: none;
} 

















/*------------start  Tablet style---------*/
/****************************************/











/*------------start Laptop style---------*/
/****************************************/